.classpath
.settings/
.project
bin/
target/
*.log
.gwt/
logs/
dependency-reduced-pom.xml
**/.gitignore
/config.properties
gwt-unitCache/
.DS_Store
psi/psi-client/war/
.deps
psi/psi-server/tokens/
psi/psi-server/src/main/resources/credentials.json
.vscode
/config.properties.*
.metadata/
